.section {
  height: 90vh;
}

.container {
  height: 100%;
}

.content {
  height: 100%;
  z-index: 100;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.about-me-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.link {
  margin-right: 20px;
}

.avatar {
  margin-right: auto;
  color: white;
  background-color: black;
  border-radius: 0;
  height: 30px;
  border: 2px solid gray;
}

.resume {
  border: 1px solid red;
  padding: 10px;
}

.box {
  position: relative;
  background-color: #0a1930;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
}

.box:hover {
  cursor: pointer;
}

.box::after {
  border-radius: 8px;
  content: "";
  z-index: -1;
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -15px;
  left: -15px;
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff,
    #ff0055,
    #ff0000,
    #ff0055,
    #ff0000,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff
  );

  background-size: 300%;
  animation: border 12s linear infinite;
}

.box::after {
  filter: blur(10px);
}

@keyframes border {
  0%,
  100% {
    background-position: 0, 0;
  }

  50% {
    background-position: 300%;
  }
}
